body, html {
    padding: 0;
    margin: 0;
    font-family: Comic Sans MS,Helvetica Neue,Microsoft Yahei,-apple-system,sans-serif!important;
}
ul, li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}